# Godot 4+ specific ignores
.godot/

# Audio files
*.wav

# MPF files
/logs
/data
/Lib

# VS Code files
/.vscode

# Python Virtual Environment Items
/Scripts
pyvenv.cfg

# My MPF/GODOT Notes
Notes.txt

# GODOT, ignore the GMC files for now
/addons